* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   width: 100%;
   height: 100%;
   font-size: 100%;
   font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
//phan dau trang
.our-story-header-wrapper {
   position: absolute;
   width: 100%;
   height: 60px;
   z-index: 10;
}
/// cố định header
.out-fixed {
   position: fixed;
   background-color: #0000009c;
   transition: 0.2s linear;
}
///
.our-story-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   padding: 0 40px;
}
.our-story-logo {
   & a {
      text-decoration: none;
      color: white;
      font-size: 40px;
      & span {
         margin-left: -10px;
      }
   }

   & a > ion-icon {
      font-size: 50px;
      margin-top: -10px;
   }
}
.our-story-header {
   & > a {
      text-decoration: none;
      color: white;
      padding: 10px 20px;
      border-radius: 7px;
      background-color: rgb(216, 75, 75);
      cursor: pointer;
   }
   & ion-icon {
      font-size: 25px;
      vertical-align: middle;
   }
}
//phan than trang
.middle-page {
   display: block;
}
.middle-page-top {
   position: relative;
   padding-top: 50%;
   border-bottom: 5px solid #000000f2;
}
.page-top-bgr {
   background-image: url('https://bom.so/sV6DXV');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 1;
}
//tạo độ tối cho bgr
.concord-img {
   position: absolute;
   bottom: 0;
   top: 0;
   right: 0;
   left: 0;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.page-top-bgr-gradient {
   background-image: linear-gradient(180deg, #000000 0%, rgba(249, 249, 249, 0) 50%, #000000 100%);
   opacity: 1;
   z-index: 2;
}
.page-top-content {
   position: absolute;
   z-index: 5;
   color: white;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: 30px;
}
.middle-page-mid {
   padding: 100px 60px;
   background-color: #000000;
}
.middle-page-mid-posters {
   display: flex;
   justify-content: center;
   & ul {
      width: 80%;
      height: 100%;
      & li h2 {
         color: white;
         position: absolute;
         bottom: 10%;
         z-index: 3;
         left: 5%;
      }
   }
   //tất cả thẻ a trong cùng div cha
   & a {
      text-decoration: none;
      position: relative;
   }
   & a img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 7px;
   }
   & ul .bgr-opacity {
      background-image: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, #00000098 100%);
      opacity: 0.5;
      z-index: 2;
      width: 100%;
      height: 100%;
   }
}
//===========================================
//===========================================
.home-category-highlights {
   margin: 50px 0 50px;
   padding: 0 10%;
}
.items-category {
   margin-bottom: 50px;
}
.small-slider {
   display: flex;
   justify-content: space-between;
}
.title {
   padding: 10px 0 20px;
   & a {
      text-decoration: none;
      color: white;
      display: inline-block;
   }
}
.container-swiper {
   margin: 0 10px;
}
.movie-swiper-slider {
   & > a {
      color: white;
      text-decoration: none;
      padding: 10px 0;
      overflow: hidden;
   }
}
.movie-swiper-slider:hover {
   & a img {
      opacity: 0.5;
      transform: scale(1.3);
      transition: 0.7s;
   }
}
.posters-movie {
   overflow: hidden;
   border-radius: 7px;
   box-sizing: border-box;
   margin-bottom: 10px;
   & a img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 7px;
   }
}

.footer {
   background-color: #0f0f0f;
   color: white;
   display: flex;
   justify-content: center;
   padding: 30px 0;
}
.footer-navigation-row {
   display: flex;
   justify-content: space-around;
   width: 100%;
   & a {
      color: white;
      text-decoration: none;
      &:active {
         color: rgb(221, 119, 23);
      }
   }

   & a ion-icon {
      vertical-align: middle;
      padding: 5px 10px;
      margin-top: -4px;
      font-size: 20px;
   }
}
.footer-column-left {
   display: flex;
   flex-direction: column;
   & a ion-icon:first-child {
      padding: 5px 0;
   }
}
.footer-column-center {
   & .container-text {
      & h3 {
         margin-bottom: 15px;
      }
      & p {
         margin-bottom: 10px;
      }
   }
}
.footer-column-right {
   display: flex;
   flex-direction: column;
}
@media screen and (max-width: 1280px) {
   .page-top-content {
      font-size: 25px;
   }
   .home-category-highlights {
      margin: 50px 0 50px;
      padding: 0 5%;
   }
}
@media screen and (max-width: 1024px) {
   .page-top-content {
      font-size: 20px;
   }
   .middle-page-mid-posters {
      & ul {
         width: 90%;
         height: 100%;
      }
   }
   .home-category-highlights {
      margin: 50px 0 50px;
      padding: 0 2%;
   }
}
@media screen and (max-width: 720px) {
   .our-story-header {
      padding: 0 20px;
      & .our-story-logo {
         & a {
            font-size: 25px;
            & ion-icon {
               font-size: 35px;
               margin-top: -5px;
            }
            & span {
               margin-left: -5px;
            }
         }
      }
      & > a {
         padding: 5px 10px;
      }
   }
   .page-top-content {
      font-size: 80%;
   }
   h2 {
      font-size: 17px;
   }
   .middle-page-mid-posters {
      & ul {
         width: 100%;
         height: 100%;
      }
   }
   .home-category-highlights {
      margin: 50px 0 50px;
      padding: 0;
   }
   .middle-page-mid {
      padding: 3%;
   }
   .footer {
      padding: 0;
   }
   .footer-navigation-row {
      flex-direction: column;
   }
   .footer-column-left {
      flex-direction: row;
      justify-content: space-around;
      padding: 20px 0;
      border-bottom: 2px solid rgba(40, 40, 40, 0.829);
   }
   .footer-column-center {
      margin: 20px 0;
      & .container-text {
         text-align: center;
         padding: 0 20px;
      }
   }
   .footer-column-right {
      align-items: center;
   }
}
@media screen and (max-width: 420px) {
   .our-story-header {
      padding: 0 20px;
      & .our-story-logo {
         & a {
            font-size: 20px;
            & ion-icon {
               font-size: 35px;
               margin-top: -5px;
            }
            & span {
               margin-left: -5px;
            }
         }
      }
      & > a {
         padding: 5px 5px;
      }
   }
   .page-top-content {
      font-size: 60%;
   }
}
// custom button frameword ========= slick slide
button {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.337);
   z-index: 1;
   border: none;
   border-radius: 5px;
   padding: 10px 15px;
   font-size: 30px;
   color: white;
   cursor: pointer;
}
.slick-prev {
   top: 50%;
   transform: translateY(-50%);
   left: -0.5%;
}
.slick-next {
   top: 50%;
   transform: translateY(-50%);
   right: -0.5%;
}
//////////////////////////////////////////////////////////////////
