*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
}
//phan dau trang
.our-story-header-wrapper{
    position:fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
}
.our-story-logo{
    padding: 10px;
    & a{
        color: white;
        font-size: 100px;
    }
}
//phan than trang
.middle-page-top{
    position: relative;
}
.page-top-backgr{
    padding-top: 50%;
    background-image: url('https://bom.so/vZ36TX');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}