@import './base_layout/_header';
@import './base_layout/_footer';
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   width: 100%;
   height: 100%;
   font-size: 100%;
   font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

//phan than trang
.middle-page {
   display: block;
}
.middle-page-top {
   position: relative;
   padding-top: 50%;
   border-bottom: 5px solid #000000f2;
}
.page-top-bgr {
   background-image: url('https://bom.so/sV6DXV');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 1;
}
//tạo độ tối cho bgr
.concord-img {
   position: absolute;
   bottom: 0;
   top: 0;
   right: 0;
   left: 0;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.page-top-bgr-gradient {
   background-image: linear-gradient(180deg, #000000 0%, rgba(249, 249, 249, 0) 50%, #000000 100%);
   opacity: 1;
   z-index: 2;
}
.page-top-content {
   position: absolute;
   z-index: 5;
   color: white;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-size: 30px;
}
.middle-page-mid {
   padding: 100px 60px;
   background-color: #000000eb;
}
.middle-page-mid-posters {
   display: flex;
   justify-content: center;
   & ul {
      width: 80%;
      height: 100%;
      & li h2 {
         color: white;
         position: absolute;
         bottom: 10%;
         z-index: 3;
         left: 5%;
         display: inline;
      }
   }
   //tất cả thẻ a trong cùng div cha
   & a {
      text-decoration: none;
      position: relative;
   }
   & a img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 7px;
   }
   & ul .bgr-opacity {
      background-image: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, #00000098 100%);
      opacity: 0.5;
      z-index: 2;
      width: 100%;
      height: 100%;
   }
}
//===========================================
//===========================================
.home-category-highlights {
   margin: 50px 0 50px;
   padding: 0 10%;
}
.items-category {
   margin-bottom: 50px;
}
.small-slider {
   display: flex;
   justify-content: space-between;

   // & .container-swiper:last-child {
   //    margin-right: -20px;
   // }
}
.title {
   padding: 10px 0 20px;
   & a {
      text-decoration: none;
      color: white;
      display: inline-block;
   }
}
.container-swiper {
   margin-right: 20px;
}
.movie-swiper-slider {
   & > a {
      color: white;
      text-decoration: none;
      padding: 10px 0;
      overflow: hidden;
   }
}
.movie-swiper-slider:hover {
   & a img {
      opacity: 0.5;
      transform: scale(1.3);
      transition: 0.7s;
   }
}
.posters-movie {
   overflow: hidden;
   border-radius: 7px;
   box-sizing: border-box;
   margin-bottom: 10px;
   & a img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 7px;
   }
}

.footer {
   background-color: #0f0f0f;
   color: white;
   display: flex;
   justify-content: center;
   padding: 30px 0;
}
.footer-navigation-row {
   display: flex;
   justify-content: space-around;
   width: 100%;
   & a {
      color: white;
      text-decoration: none;
      &:active {
         color: rgb(221, 119, 23);
      }
   }

   & a ion-icon {
      vertical-align: middle;
      padding: 5px 10px;
      margin-top: -4px;
      font-size: 20px;
   }
}
.footer-column-left {
   display: flex;
   flex-direction: column;
   & a ion-icon:first-child {
      padding: 5px 0;
   }
}
.footer-column-center {
   & .container-text {
      & h3 {
         margin-bottom: 15px;
      }
      & p {
         margin-bottom: 10px;
      }
   }
}
.footer-column-right {
   display: flex;
   flex-direction: column;
}
@media screen and (max-width: 1280px) {
   .page-top-content {
      font-size: 25px;
   }
   .home-category-highlights {
      margin: 50px 0 50px;
      padding: 0 5%;
   }
}
@media screen and (max-width: 1024px) {
   .navbar-menu {
      width: 55%;
   }
   .menu {
      margin-left: 20px;
      position: relative;
      & ul {
         display: none;
         & li a {
            padding: 10px;
            display: block;
         }
      }
      // & .box-menu {
      //    display: block;
      //    color: white;
      //    & span {
      //       padding: 21.2px 10px;
      //    }
      // }
      &:hover {
         & span {
            background-color: rgba(136, 136, 136, 0.795);
         }
         & ul {
            display: block;
            position: absolute;
            width: 200px;
            top: 165%;
            left: 30%;
            background-color: #000000d0;
         }
      }
   }
   .search {
      // flex: none;
      & input {
         display: block;
         // width: 100%;
      }
   }
   .page-top-content {
      font-size: 20px;
   }
   .middle-page-mid-posters {
      & ul {
         width: 90%;
         height: 100%;
      }
   }
   .home-category-highlights {
      margin: 50px 0 50px;
      padding: 0 2%;
   }
}
@media screen and (max-width: 720px) {
   .our-story-header {
      padding: 0 20px;
      & .our-story-logo {
         & a {
            font-size: 25px;
            & ion-icon {
               font-size: 35px;
               margin-top: -5px;
            }
            & span {
               margin-left: -5px;
            }
         }
      }
      & > a {
         padding: 5px 10px;
      }
   }
   .search {
      // flex: none;
      & input {
         display: none;
         // width: 100%;
      }
   }
   .page-top-content {
      font-size: 60%;
   }
   h2 {
      font-size: 17px;
   }
   .middle-page-mid-posters {
      & ul {
         width: 100%;
         height: 100%;
      }
   }
   .home-category-highlights {
      margin: 50px 0 50px;
      padding: 0;
   }
   .middle-page-mid {
      padding: 3%;
   }
   .footer {
      padding: 0;
   }
   .footer-navigation-row {
      flex-direction: column;
   }
   .footer-column-left {
      flex-direction: row;
      justify-content: space-around;
      padding: 20px 0;
      border-bottom: 2px solid rgba(40, 40, 40, 0.829);
   }
   .footer-column-center {
      margin: 20px 0;
      & .container-text {
         text-align: center;
         padding: 0 20px;
      }
   }
   .footer-column-right {
      align-items: center;
   }
}
@media screen and (max-width: 420px) {
   .our-story-header {
      padding: 0 20px;
      & .our-story-logo {
         & a {
            font-size: 20px;
            & ion-icon {
               font-size: 35px;
               margin-top: -5px;
            }
            & span {
               margin-left: -5px;
            }
         }
      }
      & > a {
         padding: 5px 5px;
      }
   }
   .menu {
      margin: 0;
      & ul {
         position: absolute;
         top: 165%;
         left: 0% !important;
      }
   }
   .page-top-content {
      font-size: 60%;
   }
}
@media screen and (max-width: 380px) {
   .our-story-header {
      padding: 0 10px;
   }
   .menu ul li a {
      padding: 5px;
   }
   .search {
      & ion-icon {
         margin-left: 0px;
         margin-right: 5px;
      }
   }
   .page-top-content {
      font-size: 50%;
   }
}
// custom button frameword ========= slick slide
button {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.337);
   z-index: 1;
   border: none;
   border-radius: 5px;
   padding: 10px 15px;
   font-size: 30px;
   color: white;
   cursor: pointer;
}
.slick-prev {
   top: 50%;
   transform: translateY(-50%);
   left: -0.5%;
}
.slick-next {
   top: 50%;
   transform: translateY(-50%);
   right: -0.5%;
}
//////////////////////////////////////////////////////////////////
//hieu ung loadding======================================
.loading {
   position: fixed;
   width: 100%;
   height: 100%;
   display: none;
   z-index: 15;
   background-color: #ecececf0;
   transition: 1s ease;
}
.loading::after,
.loading::before {
   content: '';
   box-sizing: border-box;
   width: 50px;
   height: 50px;
   border: 2px solid rgb(89, 140, 217);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: rotationBreak 3s ease-in-out infinite alternate;
}
.loading::after {
   content: 'Đợi xí';
   border-color: #ff3d00;
   animation-direction: alternate-reverse;
}

@keyframes rotationBreak {
   0% {
      transform: rotate(0);
   }
   25% {
      transform: rotate(90deg);
   }
   50% {
      transform: rotate(180deg);
   }
   75% {
      transform: rotate(270deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
// scroll top================
.scroll-top {
   width: 50px;
   height: 50px;
   background: rgba(202, 203, 204, 0.597);
   display: inline-block;
   position: fixed;
   box-sizing: border-box;
   animation: bump 0.4s linear infinite alternate;
   z-index: 10;
   bottom: 7%;
   right: 3%;
   border-radius: 100rem;
   cursor: pointer;
   display: none;
}
.scroll-top::after {
   content: '';
   box-sizing: border-box;
   left: 50%;
   bottom: 50%;
   transform: translate(-50%, 0);
   position: absolute;
   border: 20px solid transparent;
   border-bottom-color: rgb(61, 61, 156);
}
.scroll-top::before {
   content: '';
   height: 10px;
   left: 50%;
   bottom: 10%;
   transform: translate(-50%, 0);
   position: absolute;
   border: 8px solid transparent;
   background-color: rgb(61, 61, 156);
}
@keyframes bump {
   0% {
      transform: translate(-50%, 5px);
   }
   100% {
      transform: translate(-50%, -5px);
   }
}
