@import './base_layout/header';
@import './base_layout/body';
@import './base_layout/footer';
//
@import './base_layout/loading';
@import './base_layout/slickSlider';
@import './base_layout/responsize';

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   width: 100%;
   height: 100%;
   font-size: 100%;
   font-family: Netflix Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
   background-color: #000000ac;
}
//design header
.our-story-header-wrapper {
   background-color: #000000eb;
}
.our-body {
   width: 100%;
   height: 100%;
}
.body-container {
   padding: 100px 60px;
   display: flex;
   flex-direction: column;
}
.infor-movie {
   display: flex;
}
.img-TheMovie {
   & img {
   }
}
